/* Color palette
header blue - #92dfe4
other main blue - #408da7
*/

/* Elements */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  display: inline-block;
  width: 100%;
  background-color: #92dfe4;
  border-bottom: 4px solid;
  border-color: #408da7;
}

nav {
  float: right;
  text-align: center;
  margin: 20px;
}

main {
  width: 100%;
  height: 100%;
}

a {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #408da7;
}

h1{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

span.name {
  display: inline-block;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin-right: 40%;
  margin-top: 20px;
}

p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 50px;
  padding: 10px;
  margin-right: 10%;
}

input[type="text"] {
  font-size:25px;
}

button {
  margin-top: 30px;
  margin-bottom: 180px;
  margin-left: 9px;
  display: inline-block;
  width: 46.5%;
  height: 60px;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #92dfe4;
}

button:hover {
  color: #92dfe4;
  background-color: #408da7;
  border: 2px solid;
  border-color: #92dfe4;
}

footer {
  width: 100%;
  height: 20%;
  background-color: #408da7;
}

/* HEADER  */

.dogicon {
  float: left;
  width: 55px;
  height: 55px;
  margin: 10px 0px 20px 20px;
}

/* First Half Main */

.dogpic {
  width: 250px;
  height: 250px;
  border: 5px solid;
  border-color: #408da7;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.topdog {
  display: inline-block;
}

.form {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.sectionsomedog {
  margin-top: -4px;
  padding-top: 20px;
  margin-bottom: -120px;
  text-align: center;
  width: inherit;
  background:linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("images/park.jpg");
  background-repeat:no-repeat;
  background-position: 65% 80%;
  background-attachment: absolute;
  background-size: cover;
}

/* Second Half Main */

.secondhalf {
  display: inline-block;
  width: inherit;
  background-color: #ffffff;
  /* margin-bottom: -10px; */
}

#somedogs {
  font-weight: bold;
  font-size: 3rem;
}

.firstbar {
  display: inline-block;
  margin-top: 10px;
  margin-left: 9px;
  width: 46.5%;
  height: 60px;
  border-radius: 4px;
  text-align: center;
}

.how .facts .what {
  width: 100%;
  padding: 20px;
}

.containerdog {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  float: left;
  width: 33%;
  height: inherit;
  background: #ffffff;

}

.buttons {
  width: 100%;
}
.containerbutton {
 width: 80%;
 background: #408da7;
 color: #ffffff;
 margin-bottom: 45px;
}

/* FOOTER */

.bottomlinks {
  margin-top: -400px;
  display: inline-block;
  width: 50%;
  height: 200px;
  background-color: #408da7;
}

#footerlink {
  width: 100%;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#footerlink:hover {
  color: #92dfe4;
}

.social {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
  float: inherit;
  display: inline-block;
}

.social.left {
  margin-left: 40.5%;
}

/* JS Manipulation */
.disappear {
  display: none;
}

/* Media Queries for Responsiveness */

@media (max-width:1400px) and (min-width:1200px){
p {
  text-align: left;
  margin-left: 120px;
  padding: 20px;
  }

.secondhalf {
  width: 100%;
  }

.containerdog {
  width: 50%;
  display: block;
}

.social.left {
  margin-left: 40%;
}

}

/* Tablet */

@media (max-width: 1199px) and (min-width: 900px){
p {
  text-align: left;
  margin-left: 120px;
  padding: 20px;
  }

.secondhalf {
  width: 100%;
  }

.containerdog {
  width: 100%;
  display: block;
}

.buttons {
  width: 100%;
}

.containerbutton{
  width: 50%;
}

.social.left {
  margin-left:38.5%;
}

}
/* Mobile */

@media (max-width: 899px) and (min-width: 520px) {
p {
  text-align: left;
  margin-left: 120px;
  padding: 20px;
  }

.secondhalf {
  width: 100%;
  }

.containerdog {
  width: 100%;
  display: block;
  }

.buttons {
  width: 100%;
  }

.containerbutton{
  width: 50%;
  }

.social.left {
  margin-left:27%;
  }

}

@media (max-width: 519px) {

.dogicon {
  width: 30px;
  height: 30px;
}

a {
  font-size: 13.5px;
}

span.name {
  margin-left: -40px;
}

#namebtn {
  width: 80%;
}
.firstbar {
  width: 80%;
}

p {
  text-align: left;
  font-size: 20px;
}

.secondhalf {
  width: 100%;
}

.containerdog {
  width: 100%;
  display: block;
}

.buttons {
  width: 100%;
}

.containerbutton {
  width: 60%;
}

.social {
  width: 30px;
  height: 30px;
}

.social.left {
  margin-left:23%;
}

}
